<!DOCTYPE html>
<html>
<head>
    <title>Download File</title>
</head>
<body>

<form action="/protfolio/api/get-download" method="GET">
        <button type="submit">Download</button>
    </form>
</body>
</html>
